* {
    outline: 1px dashed gray;
}
.grid {
    display: grid;
    padding: 1vw;
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 20% 1fr 15%;
    grid-gap: 1vw;
    grid-template-areas:    "header header header"
                            "nav    main   aside"
                            "footer footer footer";
}
header {
    grid-area: header;
    overflow: hidden;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main;
}
aside {
    grid-area: aside;
}
footer {
    grid-area: footer;
}